<!DOCTYPE html>
<html>
    <head lang="en">
        {% block head %}
        <meta charset="UTF-8">
        <title>What Does Twitter Think?</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- styles -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap" rel="stylesheet">
        <!-- scripts -->
        <script src="https://code.iconify.design/2/2.0.4/iconify.min.js"></script>
        {% endblock %}
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>